.DS_Store
/caribou-index
/app/assets
/checkouts
caribou_development.h2.db
caribou_development.trace.db
bababase_development*
bababase_test*
/target
/resources/public/js/app/
pom.xml
.lein-repl-history
/out
/repl
/export
/db
.nrepl-port
/resources/config/*.clj
