/* PROJECT CSS */

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse {
  background-color: #099;
  border-color: #099;
  border: none;
  border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #f2f2f2;
}

.page-footer {
  padding-top: 9px;
  margin: 20px 0 40px;
  border-top: 1px solid #eee;
}

#states path {
  fill: #ccc;
  stroke: #fff;
}

#states path.active {
  fill: red;
}

form.home-search .btn {
  color: #999;
}

form.home-search .btn.btn-lg {
  font-size: 16px;
  padding: 11px;
}

form.home-search .btn.active i.fa,
form.home-search .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

form.home-search .btn.active.male {
  background-color: #0080ff;
}

form.home-search .btn.active.female {
  background-color: #ff0080;
}

form.home-search input[name=babyname] {
  width: 100%;
}

i.fa-male {
  color: #0080ff;
}

i.fa-female {
  color: #ff0080;
}

form.home-search label.gender-selector {
  width: 40px;
}


/* TYPEAHEAD CSS */

.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  width: 100%;
}

.tt-dropdown-menu {
  top: -5px;
  min-width: 160px;
  width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 15px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #099;
}

.tt-suggestion.tt-is-under-cursor i.fa,
.tt-suggestion.tt-is-under-cursor a {
  color: #fff !important;
}

.tt-suggestion p {
  margin: 0;
}

/* custom typeahed css */

.name-result {
  font-size: 15px;
  line-height: 20px;
}

.name-result i.fa {
  width: 18px;
}

.name-result .name {
  font-size: 20px;
}
